@model MERMS.ViewModels.PriceMonitoringViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TrackingNo" class="control-label"></label>
                <input asp-for="TrackingNo" class="form-control" />
                <span asp-validation-for="TrackingNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenroConcerned" class="control-label"></label>
                <select asp-for="CenroConcerned" class="form-control">
                    <option value="">Choose</option>
                    <option value="Diffun">CENRO Diffun</option>
                    <option value="Nagtipunan">CENRO Nagtipunan</option>
                </select>
                <span asp-validation-for="CenroConcerned" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleasedCenro" class="control-label"></label>
                <input asp-for="ReleasedCenro" class="form-control" />
                <span asp-validation-for="ReleasedCenro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceivedPenro" class="control-label"></label>
                <input asp-for="ReceivedPenro" class="form-control" />
                <span asp-validation-for="ReceivedPenro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CenroReport" class="control-label"></label>
                <div class="custom-file">
                    <input asp-for="CenroReport" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="CenroReport" class="text-danger"></span>
            </div>

            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
}
