@model TwoFactor

@{
    ViewData["Title"] = "Two-factor authentication";
    Layout = null;
}


<p>Your login is protected with an authenticator app. Enter your authenticator code below.</p>
<div class="text-danger" asp-validation-summary="All"></div>


<form asp-action="LoginTwoStep" method="post">
    <div class="form-group">
        <label>Code</label>
        <input asp-for="TwoFactorCode" class="form-control" />
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="RememberMachine">
                <input asp-for="RememberMachine" />
                @Html.DisplayNameFor(m => m.RememberMachine)
            </label>
        </div>
    </div>
  
    <button class="btn btn-primary" type="submit">Log In</button>
</form>

