@model MERMS.ViewModels.DonatedConfiscatedViewModel

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TrackingNo" class="control-label"></label>
                <input asp-for="TrackingNo" class="form-control" />
                <span asp-validation-for="TrackingNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateOfDonation" class="control-label"></label>
                <input asp-for="DateOfDonation" class="form-control" />
                <span asp-validation-for="DateOfDonation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoneeRecipient" class="control-label"></label>
                <input asp-for="DoneeRecipient" class="form-control" />
                <span asp-validation-for="DoneeRecipient" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SpeciesForm" class="control-label"></label>
                <input asp-for="SpeciesForm" class="form-control" />
                <span asp-validation-for="SpeciesForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfPieces" class="control-label"></label>
                <input asp-for="NumberOfPieces" class="form-control" />
                <span asp-validation-for="NumberOfPieces" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="VolumeBoardFeet" class="control-label"></label>
                <input asp-for="VolumeBoardFeet" class="form-control" />
                <span asp-validation-for="VolumeBoardFeet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedMarketValue" class="control-label"></label>
                <input asp-for="EstimatedMarketValue" class="form-control" />
                <span asp-validation-for="EstimatedMarketValue" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Attach PDF</label>
                <div class="custom-file">
                    <input asp-for="FilePath" class="custom-file-input" id="customFile">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                </div>
                <span asp-validation-for="FilePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                <textarea asp-for="Purpose" class="form-control" rows="2"></textarea>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12">
                <input type="submit" value="Save" class="btn btn-primary float-right" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $(".custom-file-input").on("change", function() {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
</script>
}
