@model MERMS.ViewModels.ConfiscationViewModel

@{
    ViewData["Title"] = "Edit";
}


<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-row">
        <input asp-for="Id" type="hidden" />
        <div class="form-group col-md-2">
            <label asp-for="TrackingNo" class="control-label"></label>
            <input asp-for="TrackingNo" class="form-control" />
            <span asp-validation-for="TrackingNo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Jurisdiction" class="control-label"></label>
            <select asp-for="Jurisdiction" class="form-control">
                <option value="">Choose</option>
                <option value="Diffun">Diffun</option>
                <option value="Nagtipunan">Nagtipunan</option>
            </select>
            <span asp-validation-for="Jurisdiction" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DateFiled" class="control-label"></label>
            <input asp-for="DateFiled" class="form-control" />
            <span asp-validation-for="DateFiled" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="DocketCaseNo" class="control-label"></label>
            <input asp-for="DocketCaseNo" class="form-control" />
            <span asp-validation-for="DocketCaseNo" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="CaseTitleRespondent" class="control-label"></label>
            <input asp-for="CaseTitleRespondent" class="form-control" />
            <span asp-validation-for="CaseTitleRespondent" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="NatureOfViolation" class="control-label"></label>
            <input asp-for="NatureOfViolation" class="form-control" />
            <span asp-validation-for="NatureOfViolation" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="CourtFiled" class="control-label"></label>
            <input asp-for="CourtFiled" class="form-control" />
            <span asp-validation-for="CourtFiled" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="VehiclePlateNo" class="control-label"></label>
            <input asp-for="VehiclePlateNo" class="form-control" />
            <span asp-validation-for="VehiclePlateNo" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="KindSpecies" class="control-label"></label>
            <input asp-for="KindSpecies" class="form-control" />
            <span asp-validation-for="KindSpecies" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="EstimatedValue" class="control-label"></label>
            <input asp-for="EstimatedValue" class="form-control" />
            <span asp-validation-for="EstimatedValue" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="ForestProductStockPiled" class="control-label"></label>
            <input asp-for="ForestProductStockPiled" class="form-control" />
            <span asp-validation-for="ForestProductStockPiled" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">Volume of Lumber</label>
            <div class="form-group">
                <input asp-for="BoardFeet" class="form-control" placeholder="Board Feet" />
                <span asp-validation-for="BoardFeet" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group col-md-2">
            <label class="control-label">&nbsp;</label>
            <div class="form-group">
                <input asp-for="CubicMeter" class="form-control" placeholder="Cubic Meter" />
                <span asp-validation-for="CubicMeter" class="text-danger"></span>
            </div>

        </div>
        <div class="form-group col-md-2">
            <label asp-for="Status" class="control-label"></label>
            <input asp-for="Status" class="form-control" />
            <span asp-validation-for="Status" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label class="control-label">Attach PDF</label>
            <div class="custom-file">
                <input asp-for="FilePath" class="custom-file-input" id="customFile">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <span asp-validation-for="FilePath" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Remarks" class="control-label"></label>
            <textarea asp-for="Remarks" class="form-control" rows="2"></textarea>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
        <div class="form-group col-md-12">
            <input type="submit" value="Save" class="btn btn-primary float-right" />
        </div>
    </div>

</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
