<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Monitoring and Enforcement Records Management System</title>

    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="~/css/adminlte.css" rel="stylesheet" />
    <link href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body class="hold-transition layout-top-nav">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
            <div class="container">
                <a href="../../index3.html" class="navbar-brand">
                    <img src="~/img/logo.png" alt="DENR Logo" class="brand-image img-circle">
                    <span class="brand-text font-weight-light">DENR</span>
                </a>

                <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <partial name="_LoginPartial" />
                <partial name="Reports" />
            </div>
        </nav>
        <!-- /.navbar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark"> @ViewData["Title"]</h1>
                        </div><!-- /.col -->
                        <!--<div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Layout</a></li>
                                <li class="breadcrumb-item active">Top Navigation</li>
                            </ol>
                        </div>-->
                        <!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <div class="content">
                <div class="container">
                    <div class="row-fluid">
                        @RenderBody()
                    </div>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>

        <!-- Main Footer -->
        <!--<footer class="main-footer">-->
        <!-- To the right -->
        <!--<div class="float-right d-none d-sm-inline">
            Anything you want
        </div>-->
        <!-- Default to the left -->
        <!--<strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>-->
    </div>

    <script src="~/plugins/jquery/jquery.min.js"></script>

    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>

    <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/plugins/jszip/jszip.min.js"></script>
    <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#preview1').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/apprehensionconfiscations/report",
                    type: "get", //send it through get method
                    data: {
                        jurisdiction: $('#Jurisdiction1').val(),
                        yr: $('#Year1').val()
                    },
                    success: function (response) {
                        $('#modal1').modal('hide');
                        var win = window.open("/apprehensionconfiscations/report?jurisdiction=" + $('#Jurisdiction1').val() + "&yr=" + $('#Year1').val() , '_blank');
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })

            $('#preview2').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/confiscations/report",
                    type: "get", //send it through get method
                    data: {
                        jurisdiction: $('#Jurisdiction2').val(),
                        yr: $('#Year2').val()
                    },
                    success: function (response) {
                        $('#modal2').modal('hide');
                        var win = window.open("/confiscations/report?jurisdiction=" + $('#Jurisdiction2').val() + "&yr=" + $('#Year2').val(), '_blank');
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })

            $('#preview3').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/donatedconfiscateds/report",
                    type: "get", //send it through get method
                    data: {
                        yr: $('#Year3').val()
                    },
                    success: function (response) {
                        $('#modal3').modal('hide');
                        var win = window.open("/donatedconfiscateds/report?&yr=" + $('#Year3').val(), '_blank');
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })

            $('#preview4').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/pricemonitorings/report",
                    type: "get", //send it through get method
                    data: {
                        yr: $('#Year4').val()
                    },
                    success: function (response) {
                        $('#modal4').modal('hide');
                        var win = window.open("/pricemonitorings/report?&yr=" + $('#Year4').val(), '_blank');
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })
            $('#preview5').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/penropricemonitorings/report",
                    type: "get", //send it through get method
                    data: {
                        yr: $('#Year5').val()
                    },
                    success: function (response) {
                        $('#modal5').modal('hide');
                        var win = window.open("/penropricemonitorings/report?&yr=" + $('#Year5').val(), '_blank');
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })


            $('#preview6').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: "/multiforestprotections/report",
                    type: "get", //send it through get method
                    data: {
                        yr: $('#Year6').val()
                    },
                    success: function (response) {
                        $('#modal6').modal('hide');
                        var win = window.open("/multiforestprotections/report?&yr=" + $('#Year6').val(), '_blank');
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            })
        })

    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
