@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
            
            <li class="nav-item dropdown">
                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Task &amp; Reports</a>
                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                    <li>
                        <a class="dropdown-item" asp-controller="ApprehensionConfiscations" asp-action="Index">Apprehension &amp; Confiscation </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Confiscations" asp-action="Index">Confiscation with Case Filed in Court</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="DonatedConfiscateds" asp-action="Index">Donated Confiscated Common Hardwood Lumber</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="PriceMonitorings" asp-action="Index">Price Monitoring Report of Wood Products</a>
                    </li>

                    
                    <li>
                        <a class="dropdown-item" asp-controller="MultiForestProtections" asp-action="Index">Multi-Forest Protection Comimittee Meetings</a>
                    </li>
                </ul>
            </li>
        </ul>

        
    </div> <!-- Right navbar links -->
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
    </li>
    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
</ul>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

