@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Task &amp; Reports</a>
                <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                    <li>
                        <a class="dropdown-item" asp-controller="ApprehensionConfiscations" asp-action="Index">Confiscation/Apprehension </a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="Confiscations" asp-action="Index">Environmental Case Filed in Court</a>
                    </li>
                    <li>
                        <a class="dropdown-item" asp-controller="DonatedConfiscateds" asp-action="Index">Donated Confiscated Common Hardwood Lumber</a>
                    </li>
                    <li class="dropdown-submenu dropdown-hover">
                        <a id="dropdownSubMenu2" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">Price Monitoring Report of Wood Products</a>
                        <ul aria-labelledby="dropdownSubMenu2" class="dropdown-menu border-0 shadow">

                            <li>
                                <a class="dropdown-item" asp-controller="PriceMonitorings" asp-action="Index">CENRO Price Monitoring Report</a>
                            </li>
                            <li>
                                <a class="dropdown-item" asp-controller="PenroPriceMonitorings" asp-action="Index">Consolidated Price Monitoring Report </a>
                            </li>

                        </ul>
                    </li>


                    <li>
                        <a class="dropdown-item" asp-controller="MultiForestProtections" asp-action="Index">Multi-sectoral Forest Protection Committee Meeting</a>
                    </li>
                    
                </ul>
            </li>
            @* Reports *@
            

        </ul>

        
    </div> <!-- Right navbar links -->
<ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
    <li class="nav-item dropdown">
        <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">@User.Identity.Name!</a>
        <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
            <li>

                <a class="dropdown-item" asp-controller="Users" asp-action="Index">User Accounts </a>
            </li>
            <li>
                <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
            </li>
            <div class="dropdown-divider"></div>
            <li>
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Login", "Account", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>


        </ul>
    </li>
    
</ul>
    }
    else
    {
        @*<li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }

